@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

.outer1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  padding-bottom: 150px;
  padding-top: 100px;
  padding-right: 500px;
  padding-left: 50px;
}

.inner1 {
  width: 1800px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 50px 50px 50px 50px;
  border-radius: 15px;
  transition: all 0.3s;
}

.outer1 .form-control:focus {
  border-color: #33ff00;
  box-shadow: none;
}

.outer1 h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}
.form-2 .form-control {
  height: 100px;
  text-align: left;
}
.form-6 {
  margin-top: 0.3rem;
  margin-bottom: 0.1rem;
  text-align: left;
  display: flex;
}
.form-6 input{
  margin-top: 0.4rem;
}

.form-7{
  margin-bottom: 0.5rem;
}
.form-7 label{
  margin-right: 1rem;
}
.form-8 label{
  margin-right: 1rem;
}
